Symantec/CannonicalRESTWebApp/Service References/SymantecAPI/ProvisioningApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.symantec.com/2009/01/ProvisioningApi/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProvisioningApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IProvisioningApi_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.symantec.com/2009/01/ProvisioningApi/" location="https://api.partnerdev.messagelabs.net/ProvisioningAPI/live/ProvisioningApiWCF/ProvisioningApi.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_IProvisioningApi" type="i0:IProvisioningApi">
    <wsp:PolicyReference URI="#CustomBinding_IProvisioningApi_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionOrganisation">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionOrganisation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SuspendCustomer">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/SuspendCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnSuspendCustomer">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/UnSuspendCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionWebAntiMalwareService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionWebAntiMalwareService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionWebAntiMalwareService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionWebAntiMalwareService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionWebUrlFilteringService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionWebUrlFilteringService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionWebUrlFilteringService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionWebUrlFilteringService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionEmailDomain">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionEmailDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmailDomain">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeleteEmailDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllEmailDomains">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeleteAllEmailDomains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionEmailAntiVirusService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionEmailAntiVirusService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionEmailAntiSpamService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionEmailAntiSpamService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionEmailAntiSpamService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionEmailAntiSpamService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionBackupService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionBackupService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionBackupService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionBackupService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionEmailImageControlService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionEmailImageControlService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionEmailImageControlService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionEmailImageControlService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionEmailContentControlService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionEmailContentControlService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionEmailContentControlService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionEmailContentControlService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionMultiProtocolArchivingService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionMultiProtocolArchivingService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionMultiProtocolArchivingService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionMultiProtocolArchivingService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionHostedEndPointService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionHostedEndPointService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionHostedEndPointService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionHostedEndPointService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebRoamingLicenseCount">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/UpdateWebRoamingLicenseCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateDomain">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ValidateDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionEntitlement">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionEntitlement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionEntitlement">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionEntitlement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProvisionWebDataLossPreventionService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/ProvisionWebDataLossPreventionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeprovisionWebDataLossPreventionService">
      <soap12:operation soapAction="http://www.symantec.com/2009/01/ProvisioningApi/IProvisioningApi/DeprovisionWebDataLossPreventionService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProvisioningApiFaultFault">
        <soap12:fault use="literal" name="ProvisioningApiFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvisioningApi">
    <wsdl:port name="CustomBinding_IProvisioningApi" binding="tns:CustomBinding_IProvisioningApi">
      <soap12:address location="https://api.partnerdev.messagelabs.net/ProvisioningAPI/live/ProvisioningApiWCF/ProvisioningApi.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://api.partnerdev.messagelabs.net/ProvisioningAPI/live/ProvisioningApiWCF/ProvisioningApi.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>