Symantec/CannonicalRESTWebApp/Service References/SymantecAPI/ProvisioningApi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Symantec.ProvisioningApi.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Symantec.ProvisioningApi.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ProvisioningOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TemplateBased" />
      <xs:enumeration value="SimpleService" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProvisioningOption" nillable="true" type="tns:ProvisioningOption" />
  <xs:simpleType name="SimpleServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BackUpExec" />
      <xs:enumeration value="SEP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SimpleServiceType" nillable="true" type="tns:SimpleServiceType" />
  <xs:complexType name="ProvisionWebDataLossPreventionServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasedOnCustomerTemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ProvisioningOption" type="tns:ProvisioningOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionWebDataLossPreventionServiceRequest" nillable="true" type="tns:ProvisionWebDataLossPreventionServiceRequest" />
</xs:schema>